.thumbnailImage {
  width: 60px;
  height: 60px;
}
.ThumbnailButton {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .thumbnailImage {
    width: 150px;
    height: 150px;
  }
  .ThumbnailButton {
    width: 150px;
    height: 150px;
    margin-right: 35px;
    margin-top: 43px;
  }
}
